<div class="contenttext">
	<% if user_signed_in? %>

	<h2><br>Welkom op explorer!<br></h2>

	<% else %>
	
	<h2><br>Welkom op world explorer! Gelieve in te loggen om de site te bezichtigen<br></h2>

	<% end %>
</div>
